#Data and programming

![image.png]()

#Data Types

**Vectors**

In [1]:
c(1,3,5,7)

[1] 1 3 5 7

In [2]:
x=c(1,3,5,7)

In [3]:
c(42,'stat',TRUE)

[1] "42"   "stat" "TRUE"

In [4]:
c(1:100)

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [ ]:
(y=1:100)

In [5]:
seq(from=1.2,to=4.5,by=0.1)

 [1] 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.0 2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.0
[20] 3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4.0 4.1 4.2 4.3 4.4 4.5

In [6]:
seq(1.2,4.5,0.1)

 [1] 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.0 2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.0
[20] 3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4.0 4.1 4.2 4.3 4.4 4.5

In [7]:
rep("A",times=10)

 [1] "A" "A" "A" "A" "A" "A" "A" "A" "A" "A"

In [ ]:
rep(x,times=3)

In [10]:
c(x, rep(seq(from=1,to=4,by=1),times=2), c(1:5))

 [1] 1 3 5 7 1 2 3 4 1 2 3 4 1 2 3 4 5

In [11]:
length(x)

[1] 4

**subsetting**

In [14]:
x

[1] 1 3 5 7

In [12]:
x[1]

[1] 1

In [13]:
x[-2]

[1] 1 5 7

In [15]:
x[c(1,3)]

[1] 1 5

#Data structure

In [19]:
z=c(TRUE, TRUE, FALSE, FALSE)

In [20]:
x[z]

[1] 1 3

# Vectorization

In [1]:
#Vectorization
x = 1:10
x + 1
2 * x
2 ^ x
sqrt(x)
log(x)

 [1]  2  3  4  5  6  7  8  9 10 11

 [1]  2  4  6  8 10 12 14 16 18 20

 [1]    2    4    8   16   32   64  128  256  512 1024

 [1] 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751 2.828427
 [9] 3.000000 3.162278

 [1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379 1.7917595 1.9459101
 [8] 2.0794415 2.1972246 2.3025851

# logical operator

In [3]:
#Logical Operators
x = c(1, 3, 5, 7, 8, 9)
x > 3

x == 3 & x != 3

x == 3 | x != 3

x[x > 3]

x[x != 3]

sum(x > 3)# sum of 1's

as.numeric(x > 3)#logical to numeric where TRUE is 1 and FALSE is 0

which(x > 3)
 
x[which(x > 3)]
 
max(x)

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1] FALSE FALSE FALSE FALSE FALSE FALSE

[1] TRUE TRUE TRUE TRUE TRUE TRUE

[1] 5 7 8 9

[1] 1 5 7 8 9

[1] 4

[1] 0 0 1 1 1 1

[1] 3 4 5 6

[1] 5 7 8 9

[1] 9

# More Vectorization

In [4]:
x = c(1, 3, 5, 7, 8, 9)
y = 1:100
x + 2

[1]  3  5  7  9 10 11

In [5]:
x + rep(2, 6)

[1]  3  5  7  9 10 11

In [6]:
## [1] 3 5 7 9 10 11
x > 3

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [7]:
## [1] FALSE FALSE TRUE TRUE TRUE TRUE
x > rep(3, 6)

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [8]:
## [1] FALSE FALSE TRUE TRUE TRUE TRUE
x + y

Warning message in x + y:
longer object length is not a multiple of shorter object length

  [1]   2   5   8  11  13  15   8  11  14  17  19  21  14  17  20  23  25  27
 [19]  20  23  26  29  31  33  26  29  32  35  37  39  32  35  38  41  43  45
 [37]  38  41  44  47  49  51  44  47  50  53  55  57  50  53  56  59  61  63
 [55]  56  59  62  65  67  69  62  65  68  71  73  75  68  71  74  77  79  81
 [73]  74  77  80  83  85  87  80  83  86  89  91  93  86  89  92  95  97  99
 [91]  92  95  98 101 103 105  98 101 104 107

In [9]:
length(x)
## [1] 6
length(y)
## [1] 100
length(y) / length(x)
## [1] 16.66667
(x + y) - y

[1] 6

[1] 100

[1] 16.66667

Warning message in x + y:
longer object length is not a multiple of shorter object length

  [1] 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1
 [38] 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3
 [75] 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7 8 9 1 3 5 7

In [10]:
y = 1:60
x + y
length(y) / length(x)
rep(x, 10) + y

 [1]  2  5  8 11 13 15  8 11 14 17 19 21 14 17 20 23 25 27 20 23 26 29 31 33 26
[26] 29 32 35 37 39 32 35 38 41 43 45 38 41 44 47 49 51 44 47 50 53 55 57 50 53
[51] 56 59 61 63 56 59 62 65 67 69

[1] 10

 [1]  2  5  8 11 13 15  8 11 14 17 19 21 14 17 20 23 25 27 20 23 26 29 31 33 26
[26] 29 32 35 37 39 32 35 38 41 43 45 38 41 44 47 49 51 44 47 50 53 55 57 50 53
[51] 56 59 61 63 56 59 62 65 67 69

In [11]:
all(x + y == rep(x, 10) + y)
## [1] TRUE
identical(x + y, rep(x, 10) + y)

[1] TRUE

[1] TRUE

# Matrices
Matrices have rows and columns containing a single data type.

In [12]:
x = 1:9
x
## [1] 1 2 3 4 5 6 7 8 9
X = matrix(x, nrow = 3, ncol = 3)
X

[1] 1 2 3 4 5 6 7 8 9

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [13]:
#By default the matrix function reorders a vector into columns, but we can also tell R to use rows instead.
Y = matrix(x, nrow = 3, ncol = 3, byrow = TRUE)
Y

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [14]:
#We can also create a matrix of a specified dimension where every element is the same, in this case 0.
Z = matrix(0, 2, 4)
Z

     [,1] [,2] [,3] [,4]
[1,] 0    0    0    0
[2,] 0    0    0    0

In [15]:
#matrices are two-dimensional, we need to specify both a row and a column when subsetting.
X[1, 2]

[1] 4

In [16]:
#subset an entire row or column.
X[1, ]#column 1

X[, 3]#row 3

[1] 1 4 7

[1] 7 8 9

In [17]:
X[2, c(1, 3)] #subset to the first and third column of the second row.

[1] 2 8

In [18]:
#Matrices can also be created by combining vectors as columns, using cbind, or
#combining vectors as rows, using rbind.
x = 1:9
rev(x)

[1] 9 8 7 6 5 4 3 2 1

In [19]:
rep(1, 9)

rbind(x, rev(x), rep(1, 9))

[1] 1 1 1 1 1 1 1 1 1

  [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
x 1    2    3    4    5    6    7    8    9
  9    8    7    6    5    4    3    2    1
  1    1    1    1    1    1    1    1    1

In [20]:
cbind(col_1 = x, col_2 = rev(x), col_3 = rep(1, 9))

      col_1 col_2 col_3
 [1,] 1     9     1
 [2,] 2     8     1
 [3,] 3     7     1
 [4,] 4     6     1
 [5,] 5     5     1
 [6,] 6     4     1
 [7,] 7     3     1
 [8,] 8     2     1
 [9,] 9     1     1

# matrix calculations

In [21]:
x = 1:9
y = 9:1
X = matrix(x, 3, 3)
Y = matrix(y, 3, 3)
X

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [22]:
X + Y
X - Y

     [,1] [,2] [,3]
[1,] 10   10   10
[2,] 10   10   10
[3,] 10   10   10

     [,1] [,2] [,3]
[1,] -8   -2   4
[2,] -6    0   6
[3,] -4    2   8

In [23]:
#X * Y is not matrix multiplication. It is element by element multiplication.
X * Y

     [,1] [,2] [,3]
[1,]  9   24   21
[2,] 16   25   16
[3,] 21   24    9

In [24]:
X / Y

     [,1]      [,2]      [,3]
[1,] 0.1111111 0.6666667 2.333333
[2,] 0.2500000 1.0000000 4.000000
[3,] 0.4285714 1.5000000 9.000000

In [25]:
#matrix multiplication uses %*%. 
#Other matrix functions include t() which gives the transpose of a matrix and 

X %*% Y

     [,1] [,2] [,3]
[1,]  90  54   18
[2,] 114  69   24
[3,] 138  84   30

In [26]:
t(X)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [27]:
#solve() which returns the inverse of a square matrix if it is invertible.
Z = matrix(c(9, 2, -3, 2, 4, -2, -3, -2, 16), 3, byrow = TRUE)
Z
solve(Z)

     [,1] [,2] [,3]
[1,]  9    2   -3
[2,]  2    4   -2
[3,] -3   -2   16

     [,1]        [,2]        [,3]
[1,]  0.12931034 -0.05603448 0.01724138
[2,] -0.05603448  0.29094828 0.02586207
[3,]  0.01724138  0.02586207 0.06896552

In [28]:
options(digits=2) 
solve(Z) %*% Z

     [,1]     [,2]     [,3]
[1,]  1.0e+00 -6.2e-17  0.0e+00
[2,]  9.0e-17  1.0e+00 -5.6e-17
[3,] -2.8e-17  0.0e+00  1.0e+00

In [29]:
all.equal(solve(Z) %*% Z, diag(3))

[1] TRUE

In [30]:
X = matrix(1:6, 2, 3)
dim(X)
rowSums(X)
## [1] 9 12
colSums(X)
## [1] 3 7 11
rowMeans(X)
## [1] 3 4
colMeans(X)

[1] 2 3

[1]  9 12

[1]  3  7 11

[1] 3 4

[1] 1.5 3.5 5.5

In [31]:
diag(1:5)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    2    0    0    0
[3,] 0    0    3    0    0
[4,] 0    0    0    4    0
[5,] 0    0    0    0    5

In [32]:
diag(5)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    1    0    0    0
[3,] 0    0    1    0    0
[4,] 0    0    0    1    0
[5,] 0    0    0    0    1

# Calculations with Vectors and Matrices
Certain operations in R, for example %*% have different behavior on vectors and
matrices. To illustrate this, we will first create two vectors.

In [33]:
a_vec = c(1, 2, 3)
b_vec = c(2, 2, 2)
#Note that these are indeed vectors. They are not matrices.
c(is.vector(a_vec), is.vector(b_vec))
## [1] TRUE TRUE
c(is.matrix(a_vec), is.matrix(b_vec))

[1] TRUE TRUE

[1] FALSE FALSE

When this is the case, the %*% operator is used to calculate the dot product,
also know as the inner product of the two vectors.
The dot product of vectors  = [1
, 2
,  ] and  = [1
, 2
,  ] is defined to
be
   =


=1

 = 1
1 + 2
2 +  .

In [34]:
a_vec %*% b_vec # inner product
a_vec %o% b_vec # outer product

     [,1]
[1,] 12

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 4    4    4
[3,] 6    6    6

In [35]:
crossprod(a_vec, b_vec) # inner product
tcrossprod(a_vec, b_vec) # outer product

     [,1]
[1,] 12

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 4    4    4
[3,] 6    6    6

In [36]:
as.matrix(a_vec)

     [,1]
[1,] 1
[2,] 2
[3,] 3

In [37]:
as.matrix(a_vec) %*% b_vec
as.matrix(a_vec) %*% as.matrix(b_vec)

     [,1] [,2] [,3]
[1,] 2    2    2
[2,] 4    4    4
[3,] 6    6    6

ERROR: ignored

In [38]:
C_mat = matrix(c(1, 2, 3, 4, 5, 6), 2, 3)
D_mat = matrix(c(2, 2, 2, 2, 2, 2), 2, 3)
#This is useful both as a shortcut for a frequent calculation and as a more efficient
#implementation than using t() and %*%.
crossprod(C_mat, D_mat)
t(C_mat) %*% D_mat

all.equal(crossprod(C_mat, D_mat), t(C_mat) %*% D_mat)
## [1] TRUE
crossprod(C_mat, C_mat)

     [,1] [,2] [,3]
[1,]  6    6    6
[2,] 14   14   14
[3,] 22   22   22

     [,1] [,2] [,3]
[1,]  6    6    6
[2,] 14   14   14
[3,] 22   22   22

[1] TRUE

     [,1] [,2] [,3]
[1,]  5   11   17
[2,] 11   25   39
[3,] 17   39   61

# Lists

In [39]:
#A list is a one-dimensional heterogeneous data structure. 
#So it is indexed like a vector with a single integer value, but each element can contain an element of any type.

In [40]:
# creation
list(42, "Hello", TRUE)

[[1]]
[1] 42

[[2]]
[1] "Hello"

[[3]]
[1] TRUE

In [41]:
ex_list = list(
                a = c(1, 2, 3, 4),
                b = TRUE,
                c = "Hello!",
                d = function(arg = 42) {print("Hello World!")},
                e = diag(5)
                )

ex_list

$a
[1] 1 2 3 4

$b
[1] TRUE

$c
[1] "Hello!"

$d
function(arg = 42) {print("Hello World!")}

$e
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

In [42]:
#Lists can be subset using two syntaxes, the $ operator, and square brackets [].
#The $ operator returns a named element of a list. 
#The [] syntax returns a list, while 
#the [[]] returns an element of a list.

In [43]:
# subsetting
ex_list$a

[1] 1 2 3 4

In [44]:
ex_list[1:2]

$a
[1] 1 2 3 4

$b
[1] TRUE

In [45]:
ex_list[1]
## $a
## [1] 1 2 3 4
ex_list[[1]]
## [1] 1 2 3 4
ex_list[c("e", "a")]

$a
[1] 1 2 3 4

[1] 1 2 3 4

$e
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

$a
[1] 1 2 3 4

In [46]:
ex_list["e"]
ex_list[["e"]]
ex_list$d
ex_list$d(arg = 1)

$e
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    1    0    0    0
[3,] 0    0    1    0    0
[4,] 0    0    0    1    0
[5,] 0    0    0    0    1

function(arg = 42) {print("Hello World!")}

[1] "Hello World!"

# Data Frames

In [47]:
example_data = data.frame(  x = c(1, 3, 5, 7, 9, 1, 3, 5, 7, 9),
                            y = c(rep("Hello", 9), "Goodbye"),
                            z = rep(c(TRUE, FALSE), 5)
                         )
example_data

all.equal(length(example_data$x),length(example_data$y),length(example_data$z))
str(example_data)

nrow(example_data)
## [1] 10
ncol(example_data)
## [1] 3
dim(example_data)

   x y       z
1  1 Hello    TRUE
2  3 Hello   FALSE
3  5 Hello    TRUE
4  7 Hello   FALSE
5  9 Hello    TRUE
6  1 Hello   FALSE
7  3 Hello    TRUE
8  5 Hello   FALSE
9  7 Hello    TRUE
10 9 Goodbye FALSE

[1] TRUE

'data.frame':	10 obs. of  3 variables:
 $ x: num  1 3 5 7 9 1 3 5 7 9
 $ y: chr  "Hello" "Hello" "Hello" "Hello" ...
 $ z: logi  TRUE FALSE TRUE FALSE TRUE FALSE ...

[1] 10

[1] 3

[1] 10  3

In [48]:
library(tibble)
example_data = as_tibble(example_data)
example_data

   x y       z
1  1 Hello    TRUE
2  3 Hello   FALSE
3  5 Hello    TRUE
4  7 Hello   FALSE
5  9 Hello    TRUE
6  1 Hello   FALSE
7  3 Hello    TRUE
8  5 Hello   FALSE
9  7 Hello    TRUE
10 9 Goodbye FALSE

In [50]:
library(readr)
example_data_from_csv = read_csv("data/example-data.csv")

ERROR: ignored

In [51]:
library(ggplot2) #Inside the ggplot2 package is a dataset called mpg.
#When using data from inside a package, there are three things we would generally like to do:
# Look at the raw data.
# Understand the data. (Where did it come from? What are the variables? Etc.)
# Visualize the data.


#To look at the data, we have two useful commands: head() and str().
head(mpg, n = 2)#The function head() will display the first n observations of the data frame.

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact

In [52]:
#The function str() will display the structure of the data frame. 
#It will display the number of observations and variables, list the variables, 
#give the type of each variable, and show some elements of each variable.

str(mpg)

tibble [234  11] (S3: tbl_df/tbl/data.frame)
 $ manufacturer: chr [1:234] "audi" "audi" "audi" "audi" ...
 $ model       : chr [1:234] "a4" "a4" "a4" "a4" ...
 $ displ       : num [1:234] 1.8 1.8 2 2 2.8 2.8 3.1 1.8 1.8 2 ...
 $ year        : int [1:234] 1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 ...
 $ cyl         : int [1:234] 4 4 4 4 6 6 6 4 4 4 ...
 $ trans       : chr [1:234] "auto(l5)" "manual(m5)" "manual(m6)" "auto(av)" ...
 $ drv         : chr [1:234] "f" "f" "f" "f" ...
 $ cty         : int [1:234] 18 21 20 21 16 18 18 18 16 20 ...
 $ hwy         : int [1:234] 29 29 31 30 26 26 27 26 25 28 ...
 $ fl          : chr [1:234] "p" "p" "p" "p" ...
 $ class       : chr [1:234] "compact" "compact" "compact" "compact" ...

# It is important to note that while matrices have rows and columns, data frames (tibbles) instead have observations and variables.

In [53]:
names(mpg)
dim(mpg)
## [1] 234 11
nrow(mpg)
## [1] 234
ncol(mpg)

mpg$year

 [1] "manufacturer" "model"        "displ"        "year"         "cyl"
 [6] "trans"        "drv"          "cty"          "hwy"          "fl"
[11] "class"

[1] 234  11

[1] 234

[1] 11

  [1] 1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 2008 1999 1999 2008 2008
 [16] 1999 2008 2008 2008 2008 2008 1999 2008 1999 1999 2008 2008 2008 2008 2008
 [31] 1999 1999 1999 2008 1999 2008 2008 1999 1999 1999 1999 2008 2008 2008 1999
 [46] 1999 2008 2008 2008 2008 1999 1999 2008 2008 2008 1999 1999 1999 2008 2008
 [61] 2008 1999 2008 1999 2008 2008 2008 2008 2008 2008 1999 1999 2008 1999 1999
 [76] 1999 2008 1999 1999 1999 2008 2008 1999 1999 1999 1999 1999 2008 1999 2008
 [91] 1999 1999 2008 2008 1999 1999 2008 2008 2008 1999 1999 1999 1999 1999 2008
[106] 2008 2008 2008 1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 2008 2008
[121] 2008 2008 2008 2008 1999 1999 2008 2008 2008 2008 1999 2008 2008 1999 1999
[136] 1999 2008 1999 2008 2008 1999 1999 1999 2008 2008 2008 2008 1999 1999 2008
[151] 1999 1999 2008 2008 1999 1999 1999 2008 2008 1999 1999 2008 2008 2008 2008
[166] 1999 1999 1999 1999 2008 2008 2008 2008 1999 1999 1999 1999 2008 2008 1999
[181] 1999 2008 2008 1999 1999 2008 1999 1999 2008 2008 1999 1999 2008 1999 1999
[196] 1999 2008 2008 1999 2008 1999 1999 2008 1999 1999 2008 2008 1999 1999 2008
[211] 2008 1999 1999 1999 1999 2008 2008 2008 2008 1999 1999 1999 1999 1999 1999
[226] 2008 2008 1999 1999 2008 2008 1999 1999 2008

In [54]:
#Here, we find fuel efficient vehicles earning over 35 miles per gallon and only display manufacturer, model and year.
mpg[mpg$hwy > 35, c("manufacturer", "model", "year")]

  manufacturer model      year
1 honda        civic      2008
2 honda        civic      2008
3 toyota       corolla    2008
4 volkswagen   jetta      1999
5 volkswagen   new beetle 1999
6 volkswagen   new beetle 1999

# Programming Basics
3.3.1 Control Flow
if (...) 
{
some R code
} 
else 
{
more R code
}

In [55]:
x = 1
y = 3
if (x > y) {
z = x * y
print("x is larger than y")
} else {
z = x + 5 * y
print("x is less than or equal to y")
}

[1] "x is less than or equal to y"

In [56]:
x = 11:15
for (i in 1:5) 
{
x[i] = x[i] * 2
}

In [57]:
x = 11:15
x = x * 2
x

[1] 22 24 26 28 30

# Functions

In [58]:
#function_name(arg1 = 10, arg2 = 20)

#In R we would write a function to do this. When writing a function, there are three thing you must do.
# Give the function a name. Preferably something that is short, but descriptive.
# Specify the arguments using function()
# Write the body of the function within curly braces, {}.

In [59]:
standardize = function(x) 
{
m = mean(x)
std = sd(x)
result = (x - m) / std
result
}

get_var = function(x, biased = FALSE) 
{
n = length(x) - 1 * !biased
(1 / n) * sum((x - mean(x)) ^ 2)
}

In [60]:
(test_sample = rnorm(n = 10, mean = 2, sd = 5))
standardize(x = test_sample)

 [1] -4.04 -6.09 -2.88 -2.92 -0.54 -2.52 11.25 -0.81  3.86 11.99

 [1] -0.76 -1.08 -0.57 -0.58 -0.20 -0.52  1.67 -0.24  0.50  1.79

In [61]:
get_var(test_sample)
## [1] 31.2991
get_var(test_sample, biased = FALSE)
## [1] 31.2991
var(test_sample)

get_var(test_sample, biased = TRUE)

[1] 40

[1] 40

[1] 40

[1] 36

In [63]:
standardize = function(x) 
{
(x - mean(x)) / sd(x)
}

In [64]:
power_of_num = function(num, power = 2) 
{
num ^ power
}


power_of_num(10)
## [1] 100
power_of_num(10, 2)
## [1] 100
power_of_num(num = 10, power = 2)
## [1] 100
power_of_num(power = 2, num = 10)

[1] 100

[1] 100

[1] 100

[1] 100